# Activity 5.01: Clustering Sales Data Using K-Means

In this activity, you will work on the Sales Transaction Dataset Weekly dataset, which contains the weekly sales data of 800 products over 1 year. Our dataset won't contain any information regarding the product except sales.

Your goal will be to identify products with similar sales trends using the k-means clustering algorithm. You will have to experiment with the number of clusters in order to find the optimal number of clusters.

  > The dataset can be found [here](https://archive.ics.uci.edu/ml/datasets/Sales_Transactions_Dataset_Weekly). Citation: Tan, S., & San Lau, J. (2014). Time series clustering: A superior alternative for market basket analysis. In Proceedings of the First International Conference on Advanced Data and Information Engineering (DaEng-2013) (pp. 241–248).
  
Output:

![Figure 5.7](img/fig5_07.jpg)

  > **Hints**  
  >  * Load the dataset as a DataFrame and inspect the data.
  >  * Create a new DataFrame without the unnecessary columns using the `drop` function from pandas (that is, the first 55 columns of the dataset) and use the inplace parameter, which is a part of pandas.
  >  * Create a k-means clustering model with 8 clusters and with `random_state = 8`.
  >  * Retrieve the labels from the first clustering model.
  >  * From the first DataFrame, df, keep only the W columns and the labels as a new column.
  >  * Perform the required aggregation using the groupby function from pandas in order to obtain the yearly average sale of each cluster.

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,P1,11,12,10,8,13,12,14,21,6,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,P2,7,6,3,2,7,1,6,3,3,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,P3,7,11,8,9,10,8,7,13,12,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,P4,12,8,13,5,9,6,9,13,13,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,P5,8,5,13,11,6,7,9,14,9,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,P815,0,0,1,0,0,2,1,0,0,...,0.00,0.33,0.33,0.00,0.00,0.33,0.00,0.00,0.67,0.00
807,P816,0,1,0,0,1,2,2,6,0,...,0.43,0.43,0.57,0.29,0.57,0.71,0.71,0.71,0.86,0.71
808,P817,1,0,0,0,1,1,2,1,1,...,0.50,0.00,0.00,0.50,0.50,0.00,0.00,0.00,1.00,0.75
809,P818,0,0,0,1,0,0,0,0,1,...,0.00,0.00,0.00,0.50,0.50,0.00,0.00,0.00,1.00,0.00
810,P819,0,1,0,0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.33

,Normalized 0,Normalized 1,Normalized 2,Normalized 3,Normalized 4,Normalized 5,Normalized 6,Normalized 7,Normalized 8,Normalized 9,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,0.44,0.50,0.39,0.28,0.56,0.50,0.61,1.00,0.17,0.61,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,0.70,0.60,0.30,0.20,0.70,0.10,0.60,0.30,0.30,0.30,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,0.36,0.73,0.45,0.55,0.64,0.45,0.36,0.91,0.82,0.27,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,0.59,0.35,0.65,0.18,0.41,0.24,0.41,0.65,0.65,0.53,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,0.33,0.13,0.67,0.53,0.20,0.27,0.40,0.73,0.40,0.40,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40

KMeans(random_state=8)

array([4, 4, 3, 4, 4, 0, 4, 2, 2, 2, 4, 2, 3, 0, 3, 3, 3, 3, 3, 2, 3, 3,
       3, 3, 4, 0, 3, 3, 4, 3, 2, 3, 2, 4, 2, 4, 4, 4, 4, 3, 3, 3, 4, 3,
       4, 3, 4, 3, 3, 4, 3, 3, 0, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 4, 2, 3,
       3, 4, 3, 3, 3, 3, 3, 4, 4, 3, 2, 3, 4, 4, 0, 4, 4, 4, 3, 3, 3, 3,
       3, 3, 2, 3, 2, 0, 0, 4, 3, 0, 4, 7, 3, 3, 3, 4, 4, 0, 2, 7, 2, 4,
       6, 4, 3, 3, 3, 0, 4, 4, 3, 3, 4, 4, 2, 0, 4, 4, 4, 3, 3, 3, 3, 4,
       3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 4, 2, 3, 2, 3, 2, 4, 2, 4, 2,
       4, 2, 2, 4, 4, 2, 4, 4, 4, 2, 3, 4, 3, 4, 4, 3, 2, 3, 3, 3, 3, 3,
       4, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4, 3, 3, 3, 4, 3, 4, 3, 3, 0,
       2, 0, 4, 0, 2, 2, 7, 0, 0, 0, 0, 0, 3, 1, 5, 1, 1, 5, 5, 5, 5, 5,
       6, 5, 1, 6, 5, 1, 1, 1, 1, 1, 5, 1, 1, 1, 5, 1, 1, 5, 1, 5, 5, 5,
       1, 5, 1, 1, 1, 5, 1, 5, 1, 5, 1, 1, 5, 1, 6, 1, 1, 1, 0, 0, 7, 2,
       7, 0, 2, 0, 0, 0, 7, 1, 1, 1, 1, 1, 5, 5, 1, 5, 7, 6, 1, 3, 0, 0,
       6, 6, 5, 5, 0, 7, 4, 4, 0, 0, 4, 2, 2, 2, 4, 2, 3, 2, 4, 4, 7, 4,
       3, 2, 4, 7, 2, 2, 7, 4, 2, 4, 2, 2, 4, 2, 2, 7, 4, 4, 2, 2, 2, 0,
       4, 2, 3, 4, 2, 0, 2, 7, 7, 6, 2, 0, 7, 7, 7, 6, 6, 6, 6, 1, 1, 5,
       1, 1, 0, 7, 6, 0, 7, 0, 7, 6, 0, 4, 7, 7, 0, 0, 7, 7, 7, 6, 6, 6,
       6, 6, 6, 5, 5, 1, 1, 1, 6, 1, 7, 7, 0, 4, 7, 0, 6, 7, 7, 7, 0, 0,
       0, 0, 4, 4, 0, 0, 0, 7, 2, 0, 0, 0, 7, 4, 0, 7, 2, 6, 6, 1, 5, 1,
       1, 6, 7, 6, 1, 1, 1, 1, 0, 0, 0, 7, 6, 7, 2, 7, 2, 1, 6, 7, 7, 5,
       1, 1, 1, 1, 5, 5, 1, 5, 1, 5, 1, 5, 6, 5, 1, 5, 6, 6, 1, 5, 5, 1,
       5, 1, 1, 1, 1, 1, 1, 1, 1, 5, 4, 6, 6, 6, 6, 1, 6, 6, 6, 2, 2, 2,
       0, 4, 3, 0, 2, 2, 0, 7, 0, 4, 0, 4, 2, 4, 0, 2, 7, 0, 2, 2, 0, 2,
       7, 0, 4, 0, 3, 0, 0, 0, 2, 2, 3, 2, 4, 2, 3, 4, 3, 7, 2, 2, 3, 0,
       2, 0, 2, 0, 0, 0, 0, 7, 2, 3, 0, 0, 2, 3, 0, 2, 0, 4, 3, 4, 3, 2,
       2, 4, 2, 0, 4, 0, 0, 0, 4, 2, 4, 6, 2, 2, 4, 7, 4, 7, 0, 6, 7, 4,
       6, 1, 6, 1, 6, 0, 7, 4, 0, 0, 7, 7, 0, 7, 6, 0, 7, 6, 0, 0, 7, 0,
       6, 0, 6, 6, 6, 5, 5, 5, 6, 6, 6, 5, 7, 7, 7, 0, 0, 7, 7, 0, 4, 4,
       4, 3, 4, 3, 3, 2, 4, 4, 4, 2, 4, 6, 4, 2, 0, 3, 2, 3, 7, 0, 5, 7,
       4, 0, 1, 1, 1, 1, 1, 1, 6, 1, 1, 1, 1, 1, 5, 5, 5, 1, 1, 5, 6, 5,
       1, 1, 6, 1, 1, 6, 6, 5, 7, 6, 0, 7, 1, 1, 1, 1, 5, 5, 5, 1, 1, 0,
       6, 6, 5, 1, 1, 7, 7, 5, 5, 5, 5, 7, 6, 6, 7, 7, 6, 6, 0, 6, 5, 1,
       1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 1, 6, 6, 6, 5, 1, 1, 6, 6, 6,
       1, 6, 7, 6, 5, 6, 5, 6, 6, 5, 7, 6, 7, 5, 6, 5, 1, 0, 7, 7, 5, 5,
       5, 5, 1, 1, 1, 6, 1, 6, 6, 5, 6, 7, 5, 5, 5, 5, 1, 5, 1, 1, 5, 5,
       1, 1, 0, 2, 0, 7, 0, 4, 6, 7, 7, 7, 7, 7, 7, 5, 5, 7, 7, 7, 0, 6,
       6, 5, 0, 0, 4, 7, 6, 6, 5, 5, 0, 6, 7, 7, 5, 7, 5, 5, 1],
      dtype=int32)

,W0,W1,W2,W3,W4,W5,W6,W7,W8,W9,...,W43,W44,W45,W46,W47,W48,W49,W50,W51,label
0,11,12,10,8,13,12,14,21,6,14,...,7,8,10,12,3,7,6,5,10,4
1,7,6,3,2,7,1,6,3,3,3,...,4,5,1,1,4,5,1,6,0,4
2,7,11,8,9,10,8,7,13,12,6,...,14,5,5,7,8,14,8,8,7,3
3,12,8,13,5,9,6,9,13,13,11,...,10,3,4,6,8,14,8,7,8,4
4,8,5,13,11,6,7,9,14,9,9,...,11,7,12,6,6,5,11,8,9,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,0,0,1,0,0,2,1,0,0,1,...,1,1,0,0,1,0,0,2,0,5
807,0,1,0,0,1,2,2,6,0,1,...,3,4,2,4,5,5,5,6,5,7
808,1,0,0,0,1,1,2,1,1,0,...,0,0,2,2,0,0,0,4,3,5
809,0,0,0,1,0,0,0,0,1,0,...,0,0,1,1,0,0,0,2,0,5
810,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

       count_product  total_sales  yearly_average_sales
label
3                115       162668           1414.504348
4                113        86037            761.389381
0                109        57020            523.119266
2                 87        39940            459.080460
7                 88        21213            241.056818
6                 89         6137             68.955056
5                 87         1375             15.804598
1                123          897              7.292683

with this output, we see that our k-means model has managed to put similarly performing products together. We can easily see that the 115 products in cluster 3 are the best-selling products, whereas the 123 products of cluster 1 are performing very badly. This is very valuable for any business, as it helps them automatically identify and group together a number of similarly performing products without having any bias in the product name or description.